@use "sass:map";
@use "sass:color";
@use "fonts" as f;
$tron-blue: #00ffff !default;
$legacy-blue: #00bfff !default;
$tron-red: #d42257 !default;
$white-light: #e0ffff;
$tron-orange: #ff6600;
$tron-yellow: #ffd700;
$grid-black: #0a0a0a !default;
$background-color: #071621;

$brand-colors: (
  primary: $tron-blue,
  primary-alt: $legacy-blue,
  secondary: $tron-red,
) !default;

$color-body: color.scale(
  $tron-blue,
  $lightness: -30%,
  $saturation: -50%
) !default;
$color-gray: color.mix(#767676, $color-body, $weight: 70%) !default;

$colors: (
  text: $white-light,
  highlights: $legacy-blue,
  bg-color: $background-color,
  special-text: $tron-red,
);

@function color($key) {
  @return map.get($colors, $key);
}

@function svgColor($color) {
  @return "%23" + str-slice("#{color($color)}", 2, -1);
}

@function font-family($key) {
  @return map.get($font-families, $key);
}

$link-color: color(primary) !default;
$border-radius: 8px !default;

$font-weight-strong: 500 !default;
$font-size-h1: 6rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-text: 1.15rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

$font-families: (
  h1: f.$heading-font,
  h2: f.$heading-font,
  p: f.$copy-font,
);

// stylelint-disable
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --color-anchor: #{$link-color};
  --font-family: f.$copy-font;
  --font-weight-strong: #{$font-weight-strong};

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  @each $key, $font in $font-families {
    --font-family-#{$key}: #{$font};
  }

  --border-radius: #{$border-radius};
}
