@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
:root {
  --color-primary: #00ffff;
  --color-primary-alt: #00bfff;
  --color-secondary: #d42257;
  --color-background: #0a0a0a;
  --color-text: #e0ffff;
  --color-dark: #00bfff;
  --color-anchor: #00ffff;
  --font-family: f.$copy-font;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --font-family-h1: Audiowide, arial, sans-serif;
  --font-family-h2: Audiowide, arial, sans-serif;
  --font-family-p: Michroma, arial, sans-serif;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: #071621;
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}

header .container {
  background-color: #071621;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
header .container h1 {
  color: #e0ffff;
  font-weight: bold;
  text-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff, 0 0 16px #00bfff, 0 0 24px #00bfff;
  animation: text-pulse 1s infinite alternate;
}
header .container h2 {
  text-align: center;
  font-weight: 100;
  font-size: 1.25rem;
  position: relative;
  color: #e0ffff;
}
header .container h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #00bfff;
  border-radius: 2px;
  animation: glow-pulse 2s infinite alternate;
}
@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 4px #00bfff, 0 0 10px #00bfff;
  }
  100% {
    box-shadow: 0 0 8px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff;
  }
}
@keyframes text-pulse {
  0% {
    text-shadow: 0 0 2px #00bfff, 0 0 4px #00bfff, 0 0 6px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
  }
  35% {
    text-shadow: 0 0 2px #00bfff, 0 0 4px #00bfff, 0 0 6px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
  }
  43% {
    text-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff, 0 0 16px #00bfff, 0 0 24px #00bfff;
  }
  45% {
    text-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff, 0 0 16px #00bfff, 0 0 24px #00bfff;
  }
  50% {
    text-shadow: 0 0 2px #00bfff, 0 0 4px #00bfff, 0 0 6px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
  }
  58% {
    text-shadow: 0 0 2px #00bfff, 0 0 4px #00bfff, 0 0 6px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
  }
  60% {
    text-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff, 0 0 16px #00bfff, 0 0 24px #00bfff;
  }
  98% {
    text-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff, 0 0 16px #00bfff, 0 0 24px #00bfff;
  }
  100% {
    text-shadow: 0 0 2px #00bfff, 0 0 4px #00bfff, 0 0 6px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-secondary);
  font-size: 1.25rem;
  text-decoration: none;
}
nav ul a::before {
  width: 100%;
  height: 0.33em;
  background-color: var(--color-secondary);
  opacity: 0.15;
  content: "";
}
nav ul a:hover::before, nav ul a:focus::before {
  opacity: 1;
}
nav ul li {
  margin: 0.25rem;
}

body {
  color: #e0ffff;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  font-family: "Michroma", arial, sans-serif;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background-color: #071621; /*solid background, start of grid*/
  background-image: linear-gradient(0deg, #00bfff 1px, transparent 1px), linear-gradient(90deg, #00bfff 1px, transparent 1px); /*color of vertical line*/
  background-size: 50px 50px; /*size of grid cell*/
}

/*movement in background when moving down the grid*/
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #00bfff 1px, transparent 1px), linear-gradient(90deg, #00bfff 1px, transparent 1px); /*color of vertical line*/
  background-size: 50px 50px; /*size of grid cell*/
  z-index: -1;
  filter: drop-shadow(0 0 3px #0a0a0a);
}

.container {
  position: relative;
  padding: 2rem;
  margin: 2rem;
  background: #071621;
  border: 2px solid #00bfff;
  box-shadow: 0 0 8px #00bfff;
  overflow: hidden;
}

h1,
h2 {
  font-family: "Audiowide", arial, sans-serif;
}

#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: var(--color-light);
}
@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}

.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2fbf7' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);
}
.page-footer::before {
  position: absolute;
  left: 50%;
  width: 2em;
  transform: translate(-50%, -100%);
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 3rem;
  content: "S";
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
