@use "../global/theme" as t;
@use "../global/fonts" as font;
@use "../global/utility" as u;
$header: "header .container";

#{$header} {
  background-color: t.$background-color;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  @include u.center-flex;
  @include u.center;
}
