@use "../global";
$header: "header .container";

#{$header} {
  background-color: global.$background-color;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  @include global.center-flex;
  @include global.center;
}
