@use "../global" as g;
$header: "header .container";

#{$header} {
  background-color: g.$background-color;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  @include g.center-flex;
  @include g.center;

  h1 {
    @include g.glow-text(g.$legacy-blue, g.$white-light);
    animation: text-pulse 1s infinite alternate;
  }
  h2 {
    text-align: center;
    font-weight: 100;
    font-size: 1.25rem;
    //below this is for the underline
    position: relative;
    color: g.$white-light;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background: g.$legacy-blue;
      border-radius: 2px;
      animation: glow-pulse 2s infinite alternate;
    }
  }

  @keyframes glow-pulse {
    0% {
      box-shadow: 0 0 4px g.$legacy-blue, 0 0 10px g.$legacy-blue;
    }
    100% {
      box-shadow: 0 0 8px g.$legacy-blue, 0 0 20px g.$legacy-blue,
        0 0 30px g.$legacy-blue;
    }
  }

  @keyframes text-pulse {
    0% {
      text-shadow: 0 0 2px g.$legacy-blue, 0 0 4px g.$legacy-blue,
        0 0 6px g.$legacy-blue, 0 0 8px g.$legacy-blue, 0 0 12px g.$legacy-blue;
    }
    35% {
      text-shadow: 0 0 2px g.$legacy-blue, 0 0 4px g.$legacy-blue,
        0 0 6px g.$legacy-blue, 0 0 8px g.$legacy-blue, 0 0 12px g.$legacy-blue;
    }
    43% {
      text-shadow: 0 0 4px g.$legacy-blue, 0 0 8px g.$legacy-blue,
        0 0 12px g.$legacy-blue, 0 0 16px g.$legacy-blue,
        0 0 24px g.$legacy-blue;
    }
    45% {
      text-shadow: 0 0 4px g.$legacy-blue, 0 0 8px g.$legacy-blue,
        0 0 12px g.$legacy-blue, 0 0 16px g.$legacy-blue,
        0 0 24px g.$legacy-blue;
    }
    50% {
      text-shadow: 0 0 2px g.$legacy-blue, 0 0 4px g.$legacy-blue,
        0 0 6px g.$legacy-blue, 0 0 8px g.$legacy-blue, 0 0 12px g.$legacy-blue;
    }
    58% {
      text-shadow: 0 0 2px g.$legacy-blue, 0 0 4px g.$legacy-blue,
        0 0 6px g.$legacy-blue, 0 0 8px g.$legacy-blue, 0 0 12px g.$legacy-blue;
    }
    60% {
      text-shadow: 0 0 4px g.$legacy-blue, 0 0 8px g.$legacy-blue,
        0 0 12px g.$legacy-blue, 0 0 16px g.$legacy-blue,
        0 0 24px g.$legacy-blue;
    }
    98% {
      text-shadow: 0 0 4px g.$legacy-blue, 0 0 8px g.$legacy-blue,
        0 0 12px g.$legacy-blue, 0 0 16px g.$legacy-blue,
        0 0 24px g.$legacy-blue;
    }
    100% {
      text-shadow: 0 0 2px g.$legacy-blue, 0 0 4px g.$legacy-blue,
        0 0 6px g.$legacy-blue, 0 0 8px g.$legacy-blue, 0 0 12px g.$legacy-blue;
    }
  }
}
