//--------------------*\
//#import
//--------------------*/

@use "body";
@use "../global" as g;





/*--------------------*\
#custom properties
\*--------------------*/

@property --angle {
  syntax: "<angle>";
  initial-value: -180deg;
  inherits: true;
}

/*--------------------*\
#Lightcycle SVG
\*--------------------*/

section.container {
  position: relative;
  overflow: visible;
  isolation: isolate;

  --duration: 10s;

  /* SHARED PATH */
  --path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 0%
  );
}

/* =========================
   BIKE
   ========================= */
section.container::after {
  content: "";
  position: absolute;

  width: 60px;
  height: 60px;

  background: url("background-svg/lightcycle.svg")
              center / contain no-repeat;

  offset-path: var(--path);
  offset-distance: 0%;
  offset-rotate: auto 90deg;

  animation: travel var(--duration) linear infinite;

  z-index: 5;
  pointer-events: none;
}

section.container:nth-of-type(even) {
  border-color: g.$tron-red;
  box-shadow: 0 0 2px g.$tron-red;
  box-shadow: 0 0 8px g.$tron-red;
}

section.container:nth-of-type(even)::after {
  background: url("background-svg/lightcyclered.svg")
              center / contain no-repeat;

  /*changed direction of travel*/
  offset-path: polygon(
    100% 0%,
    0% 0%,
    0% 100%,
    100% 100%,
    100% 0%
  );
}

/* THIRD ONLY */
#guidelines section.container {
  border-color: g.$tron-yellow;
  box-shadow: 0 0 2px g.$tron-yellow;
  box-shadow: 0 0 8px g.$tron-yellow;
}

#guidelines section.container::after {
  background-image: url("background-svg/lightcycleyellow.svg");

  offset-path: polygon(
    100% 0%,
    0% 0%,
    0% 100%,
    100% 100%,
    100% 0%
  );
}

/* =========================
   SINGLE SOURCE OF MOTION
   ========================= */
@keyframes travel {
  from { offset-distance: 0%; }
  to   { offset-distance: 100%; }
}
