@use "../global" as g;

body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  font-family: g.font-family(p);
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background-color: g.$background-color; /*solid background, start of grid*/
  background-image: linear-gradient(0deg, g.$legacy-blue 1px, transparent 1px),
    /*color of horizontal line*/
      linear-gradient(90deg, g.$legacy-blue 1px, transparent 1px); /*color of vertical line*/
  background-size: 50px 50px; /*size of grid cell*/
}

/*movement in background when moving down the grid*/
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, g.$legacy-blue 1px, transparent 1px),
    /*color of horizontal line*/
      linear-gradient(90deg, g.$legacy-blue 1px, transparent 1px); /*color of vertical line*/
  background-size: 50px 50px; /*size of grid cell*/
  z-index: -1;
  filter: drop-shadow(0 0 3px g.$grid-black);
}

//I added my image that I created as a background if you want to test it out.

// body {
//   background-image: url("background-svg/website-background.svg");
//   background-attachment: fixed; // keeps the background from scrolling
//   background-repeat: no-repeat; // prevents tiling
//   background-size: cover; // makes it fill the width and height
//   background-position: center;
// }

.container {
  position: relative;
  padding: 2rem;
  margin: 2rem;
  background: g.$background-color;
  border: 2px solid g.$legacy-blue;
  box-shadow: 0 0 8px g.$legacy-blue;
  overflow: hidden;
}

h1,
h2 {
  font-family: g.font-family(h1);
}
