@use "../global" as g;

body {
  color: g.color(text);
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  font-family: g.font-family(p);
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background-color: g.$background-color; /*solid background, start of grid*/
  background-image: linear-gradient(0deg, g.$legacy-blue 1px, transparent 1px),
    /*color of horizontal line*/
      linear-gradient(90deg, g.$legacy-blue 1px, transparent 1px); /*color of vertical line*/
  background-size: 50px 50px; /*size of grid cell*/
}

/*movement in background when moving down the grid*/
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, g.$legacy-blue 1px, transparent 1px),
    /*color of horizontal line*/
      linear-gradient(90deg, g.$legacy-blue 1px, transparent 1px); /*color of vertical line*/
  background-size: 50px 50px; /*size of grid cell*/
  z-index: -1;
  filter: drop-shadow(0 0 3px g.$grid-black);
}

//I added my image that I created as a background if you want to test it out.

// body {
//   background-image: url("background-svg/website-background.svg");
//   background-attachment: fixed; // keeps the background from scrolling
//   background-repeat: no-repeat; // prevents tiling
//   background-size: cover; // makes it fill the width and height
//   background-position: center;
// }

.container {
  position: relative;
  padding: 1rem;

  background: g.$background-color;
  border: 2px solid g.$legacy-blue;
  box-shadow: 0 0 8px g.$legacy-blue;
  overflow: hidden;
  max-width: 90%;
  @include g.center;
  margin-bottom: 1.5rem;
}

h1,
h2 {
  font-family: g.font-family(h1);
}

a {
  text-decoration: none;
  color: g.$tron-red;

  &:hover,
  &:focus-visible {
    @include g.glow-text(g.$legacy-blue, g.$white-light);
  }
}

svg {
  fill: g.$tron-red;
  height: 1rem;
  width: auto;
  overflow: visible;
}

.link-github:hover svg path,
.link-github:focus-visible svg path {
  fill: g.$white-light;
  filter: drop-shadow(0 0 4px g.$legacy-blue)
    drop-shadow(0 0 8px g.$legacy-blue) drop-shadow(0 0 12px g.$legacy-blue);
}

.link-github {
  padding: 0.5rem;

  &:hover {
    border: 1px solid g.$white-light;
    box-shadow: 0 0 8px g.$legacy-blue;
    background-color: g.$tron-red;
  }
  &:active {
    background-color: transparent;
  }
}
